<!-- common header show -->
<common-header></common-header>
 
<ion-content class="page-wrapper" *ngFor="let premission of subModulData">
  <div class="page-inner">
    <!-- ------------ sub Header Start ----------------->
    <ion-row class="sub-header width-100 pull-left nomargin nopadding">
      <ion-col size-xs="7" size-sm="6" class = "sub-header-item pull-left width-100 padding-10">
        <div class = "sub-header-color pull-left width-100 font-size-18 vertical-middle">
          <span>All employee attandance </span>
        </div>
      </ion-col>
      <ion-col size-xs="5" size-sm="6" class = "transaction-inner pull-left width-100 padding-10">
        <div class = "sub-header-color width-100 text-right">
          <span class="font-size-13"> {{curentDate | date:'dd MMM yyy'}} <i>|</i> {{curentDate | date:'h:mm a '}}</span>
        </div>
      </ion-col>
    </ion-row>
    <!-- ------------ sub Header End ----------------->
    <form #addForm="ngForm" (ngSubmit)="onSubmit(addForm)">
      <ion-row class="display-search width-100 att-center">
        <ion-col size-xs="8" size-sm="6" size-md="4"  size-lg="2" class="text-center" style="margin-top: 17px;">
          <!-- display record start -->
          <div class="display-records">
              <ion-item class="record att-100" lines="none">
                <span>Records: </span>
                  <mat-select [(ngModel)]="displayRecord" name="displayRecord" (selectionChange)="displayRecordChange($event.value)">
                    <mat-option *ngFor="let record of displayRecords" [value]="record.displayValue">
                      {{record.displayValue}}
                    </mat-option>
                  </mat-select>
              </ion-item>
              <span class="buttons pull-left">
                <!-- mobile search button show -->
                <ion-button class="mobile-search att-search" tooltip="Search" flow="up" delay="500" (click)="toggleMobileSearch = !toggleMobileSearch">
                  <ion-icon name="search"></ion-icon>
                </ion-button>
              </span>
          </div>
          <!-- display record end -->
        </ion-col>
        <!-- Start Date -->
        <ion-col size-xs="12" size-sm="6" size-md="4"  size-lg="2" >
          <div>
            <ion-label position="floating" class="att-input">Start Date <sup>*</sup></ion-label>
            <ion-input
              class="att-height"
              name="fromdate" 
              required
              [(ngModel)]="fromdate"
              type="date" 
              (ngModelChange)="myFunction()"></ion-input>
          </div>
        </ion-col>
        <!-- End Time -->
        <ion-col size-xs="12" size-sm="6" size-md="4"  size-lg="2" >
          <div>
            <ion-label position="floating" class="att-input">End Time<sup>*</sup></ion-label>
            <ion-input
              class="att-height"
              name="todate" 
              required
              [(ngModel)]="todate"
              type="date" 
              (ngModelChange)="myFunction()">
            </ion-input>
          </div>
        </ion-col>
        <!-- employee list -->
        <ion-col size-xs="12" size-sm="6" size-md="4"  size-lg="2" >
          <ion-label position="floating">Employee Id</ion-label>
          <ng-select   #employeeSerch
              [loading]="selectLoading"
              [dropdownPosition]="'bottom'"
              [items]="empList"
              bindLabel="employee_code"
              name="emp_id"
              bindValue="id"
              (change)="onChange(model.emp_id)"
              [searchable]="true"
              [(ngModel)]="model.emp_id"
              placeholder ="Select Employee"
              required
              >
              <ng-template  ng-option-tmp let-item="item">
                  {{item.first_name}} {{item.last_name}}<br/>
                  <small>{{item.employee_code}} </small>
                  
              </ng-template>
          </ng-select>
        </ion-col>
        <!-- filter -->
        <ion-col size-xs="12" size-sm="6" size-md="4" style="margin-top: 17px;" size-lg="1" class="att-btn">
          <ion-button color="secondary" type="button" (click)="filterEmpAttendance(fromdate, todate, model.emp_id)" >
            <ion-icon slot="start" name="funnel"></ion-icon>
            Filter
          </ion-button>
        </ion-col>
        <!-- download -->
        <ion-col size-xs="12" size-sm="6" size-md="4" style="margin-top: 17px;" size-lg="1" class="att-btn">
          <ion-button color="secondary" type="submit" [disabled]="!addForm.valid">
            <ion-icon slot="start" name="download"></ion-icon>
            Download
          </ion-button>
        </ion-col>
        <!-- ======= search for mobile start ======= -->
        <!-- <ion-col size-xs="12" size-sm="6" size-md="4"  size-lg="4" class="ion-float-right" class="left-search" *ngIf="!!toggleMobileSearch">
          <ion-item lines="none">
            <ion-searchbar placeholder="Search" name="searchTerm"  debounce="1000" [(ngModel)]="searchTerm" (ionChange)="searchList($event)"> </ion-searchbar>
          </ion-item>
        </ion-col> -->
        <!-- ====== search for mobile end ========= -->
        <!-- search start -->
        <!-- <ion-col size-xs="12" size-sm="6" size-md="4"  size-lg="4" style="margin-top: 17px;" class="ion-float-right" class="left-search left-search-mobile">
          <ion-item lines="none">
            <ion-searchbar placeholder="Search" name="searchTerm" debounce="1000" [(ngModel)]="searchTerm" (ionChange)="searchList($event)"> </ion-searchbar>
          </ion-item>
        </ion-col> -->
        <!-- search end -->
      </ion-row>
    </form>

    <!-- list data show in table format start -->
    <div class="table-outer" style="overflow-x:auto;">
      <table class="data-table">
        <thead [ngClass]="{'disabled-only-pointer':isListLoading}">
          <tr>

            <th style="padding-left: 3px;">
              <span>
                  <ion-icon style="zoom:2.0;" name="information"></ion-icon>
              </span>
            </th>

            <!-- table header -->
            <th *ngFor="let th of tableHeaderData " [hidden]="th.is_default == 0" (click)="th.is_sortable == 1 && isSortTableHeader(tableHeaderData, th)">
              <span>{{th.display_name}}</span>
              <!-- sorting header -->
              <span *ngIf="th.is_sortable == 1">
                <span class="asc-sort" [hidden]="th.sortingButtonName == 'desc'" [ngClass]="{'active': th.sortingButtonName == 'asc'}">
                  <ion-icon name="arrow-dropup"></ion-icon>
                </span>
                <span class="desc-sort" [hidden]="th.sortingButtonName == 'asc'" [ngClass]="{'active': th.sortingButtonName == 'desc'}">
                  <ion-icon name="arrow-dropdown"></ion-icon>
                </span>
              </span>
            </th>
          

            <th class="column-selection-popover" tooltip="Select Column" flow="left" delay="500">
                <ion-icon name="options" style="zoom:2.0;" (click)="openColumnselection($event)" ></ion-icon>
            </th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of fetchItems; let i = index" [hidden]="isListLoading" [ngClass]="{'hilight_activated': (activeHighlightIndex == listAlldata.from + i), 'delete_item_effect':item?.deleteLodershow}" style="height: 40px;">
              <td data-title="ID">
                <span>{{listAlldata.from + i}}</span>
              </td>

              <!-- table data -->
                <td *ngFor="let th of tableHeaderData " [hidden]="th.is_default == 0" (click)="clickItemHighlight(listAlldata.from + i);">

                  <!-- update_date date -->
                  <span *ngIf="th.column_name === 'update_date'">
                    {{item[th.column_name] | date:'dd MMM yyy : h:mm a'}}
                  </span>

                  <!-- added_on date -->
                  <span *ngIf="th.column_name === 'create_date'">
                    {{item[th.column_name] | date:'dd MMM yyy : h:mm a'}}
                  </span>

                  <!-- Employee -->
                  <span *ngIf="th.column_name === 'employee'">
                    {{item?.employee_details?.employee_code}}<br>
                    {{item?.employee_details?.first_name}}&nbsp;{{item?.employee_details?.last_name}}
                  </span>

                  <!-- roll -->
                  <span *ngIf="th.column_name === 'roll'">
                    {{item?.roll_details?.role}}
                  </span>

                  <!-- designation -->
                   <span *ngIf="th.column_name === 'designation'">
                    {{item?.designation_details?.designation}}
                  </span>

                  <!-- office in -->
                  <span *ngIf="th.column_name === 'office_in'">
                    {{item?.office_in | date:'h:mm a'}}
                  </span>

                  <!-- office out -->
                  <span *ngIf="th.column_name === 'office_out'">
                    {{item?.office_out | date:'h:mm a'}}
                  </span>

                  <!-- working time -->
                  <span *ngIf="th.column_name === 'working_time'">
                    {{item?.working_time}}
                  </span>

                  <!--all  common -->
                  <span *ngIf="th.column_name !== 'update_date' && th.column_name !== 'create_date' && th.column_name == 'employee' && th.column_name === 'roll' && th.column_name === 'designation' && th.column_name === 'office_in' && th.column_name === 'office_out' && th.column_name === 'working_time'"> {{ item[th.column_name] }} </span>
                </td>
                
             

          </tr>
          <tr [hidden]="!isListLoading" class="loading-table-data">
            <td colspan="100">
                Data is loading...
            </td>
          </tr>
          <tr *ngIf="fetchItems?.length == 0 && !isListLoading" class="loading-table-data">
            <td colspan="100">
                No Data Found
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- list data show in table format end -->
  </div>
  
  <!-- pager start -->
  <ion-row [ngClass]="{'disabled':isListLoading}">
    <ion-col size-xs="12" class="footer pull-left nomargin nopadding width-100">
    
    <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
        <li class="circle-border" [ngClass]="{disabled:pager.currentPage === 1}">
            <a (click)="setPage(1)" tooltip="First" flow="up" delay="500">
              <!-- First -->
              <ion-icon name="skip-backward"></ion-icon>
            </a>
        </li>
        <li class="circle-border" [ngClass]="{disabled:pager.currentPage === 1}">
            <a (click)="setPage(pager.currentPage - 1)" tooltip="Previous" flow="up" delay="500">
              <!-- Previous -->
              <ion-icon name="arrow-dropleft-circle"></ion-icon>
            </a>
        </li>
        <li> <span class="ran-separator pull-right margin-top-3"></span> </li>
        <li>
            Page <a>{{ pager.currentPage }}</a> of {{ pager.totalPages }} 
        </li>
        <li> <span class="ran-separator pull-right margin-top-3"></span> </li>
        <li class="circle-border" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
            <a (click)="setPage(pager.currentPage + 1)" tooltip="Next" flow="up" delay="500">
              <!-- Next -->
              <ion-icon name="arrow-dropright-circle"></ion-icon>
            </a>
        </li>
        <li class="circle-border" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
            <a (click)="setPage(pager.totalPages)" tooltip="Last" flow="up" delay="500">
              <!-- Last -->
              <ion-icon name="skip-forward"></ion-icon>
            </a>
        </li>
    </ul>
    </ion-col>
  </ion-row>
 <!-- pager end -->

</ion-content>

<!-- common footer show -->
<common-footer></common-footer>


